<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gpharos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- 사이드바 -->
            {% include 'includes/sidebar.html' %}

            <!-- 메인 콘텐츠 -->
            <main class="col-md-7 col-lg-10 px-md-6">
                <h1 class="h2">dashboard</h1>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS 및 Custom JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/tracker.js' %}"></script> <!-- JS 파일 포함 -->
</body>
</html>
